body {
}

.dropdown {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    width: 24%;
    text-align: center;
}

.dropbtn {
    color: black;
    font-size: 140%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: ButtonHighlight;
    min-width: 15%;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
    padding: 10% 3% 10% 3%;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.dropdown:hover .dropdown-content {
    display: block;
}
