/*******Start Overriding Bootstrap*******/
body {
    padding-top: 1px;
   
}
/*header*/
.mainheader .img-responsive.img-center {
    width: 25%;
    margin: 0 auto;
    height: 89px;
    border-radius: 5px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.mainheader {
    background-color: #000000;
    height: 120px;
    margin-top: 5px;
}
/* Lable style*/
.mainheader .lbluser
{
    
    font-size:20px;
    color:#fff;
}
/*Style Icons i Header*/
.iconenav {
    margin-top: 20px;
    margin-right: 50px;
}

/* panel*/
.panel{
    background-color:#000000;
    display: block;
    margin:1px;
    padding:6px;
    float:right;
    position:inherit
}
  .iconenav .panel > a {
        /*margin-top: 10px;*/
        padding: 0px;
        text-decoration: none;
        margin-left:16px;
        
    }

.glyphicon {
    color: #fff;
}

.texto {
    display: none;
}

.iconenav .panel a:hover .texto {
    display: block;
    position: fixed;
    color: white;
   
}


/*Main Navbar*/
.navbar {
    min-height: 60px;
    background-color: #fff;
    border-bottom-color: #000000;
    margin-top: 5px;
}
    /*Navbar Center*/
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }

    .navbar .navbar-nav > li {
        padding-left: 35px;
        padding-right: 35px;
    }

        /*Navbar Link*/
        .navbar .navbar-nav > li > a {
            color: #000000;
            padding-top: 20px;
            padding-bottom: 20px;
            font-size: 25px;
            border-radius: 10px;
        }
        /*-------------------------------*/
        
    /*.navbar .navbar-nav  li  a:visited,
    .navbar .navbar-nav > li a:hover {
     color:#d112f3;
      background-color: #AAA;
    }*/
    /*.navbar .navbar-nav .active > li  a:hover,
    .navbar .navbar-nav .active > li  a:active
      {
      color:#1912ca;
      background-color: #e3130e;
      
    }*/
  

        /*----------------------------*/
           
/*Navbar Link Hover & Active*/

/*Navbar Toggle*/
.navbar-toggle {
    margin-top: 18px;
}

/*Serch */
.form-control {
    cursor: pointer;
}
/*photo Style*/
.row .img-thumbnail {
    width: 400px;
    height: 600px;
    position: relative;
    text-align: center;
    font-size: 7rem;
}
/*-----------About------------------*/
/*Start Section About*/
.about {
    padding-top: 70px;
    padding-bottom: 20px;
}

    .about .lead {
        color: #888;
        font-size: 25px;
        margin-top: 15px;
    }

    .about h1, .about h3 {
        font-weight: bold;
    }

/*Start Section Our Team*/
.our_team {
    background: url('../backgroundImage/shoes-wallpaper9.jpg')no-repeat center center fixed;
    min-height: 650px;
}

    .our_team .team {
        background: rgba(2,2,2,0.6);
        color: #fff;
        min-height: 650px;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .our_team h1 {
        margin-bottom: 60px;
    }

    .our_team .person {
        margin-bottom: 40px;
    }
/*End Section Our Team*/
/*Start Scetion Features*/
.features {
    background: #eee;
    padding-top: 50px;
    padding-bottom: 50px;
}

    .features .featu {
        margin-bottom: 30px;
    }

        .features .featu p {
            line-height: 2em;
        }

    .features h1 {
        margin-bottom: 20px;
    }

    .features .featu span.glyphicon {
        font-size: 24px;
        margin-bottom: 10px;
        color: #666;
    }
/*End Scetion Features*/

/*End Section About*/

/*----------Start Contact-----------------*/

/*Start Scetion Contact-Us*/
.contact-us {
    background: url('../backgroundImage/shoes-wallpaper8.jpg') no-repeat center center fixed;
    background-size: cover;
    min-height: 300px;
}

    .contact-us .fields {
        background: rgba(9,9,9,0.6);
        min-height: 300px;
        color: #DDD;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .contact-us p {
        margin-bottom: 40px;
    }

    .contact-us > textarea {
        height: 108px;
    }

    .contact-us input[type="text"],
    .contact-us textarea {
        background: rgba(82,78,78,0.7);
        color: #FFF;
        border: none;
    }
/*End Scetion Contact-Us*/
/*Start Scetion Testimonials*/
.Testimonials {
    padding-top: 50px;
    padding-bottom: 50px;
}

    .Testimonials h1 {
        font-weight: bold;
        margin-bottom: 20px;
    }

    .Testimonials .lead {
        line-height: 2em;
        margin-bottom: 10px;
    }

    .Testimonials span {
        font-size: 18px;
        font-weight: bold;
    }

    .Testimonials .carousel-inner {
        min-height: 160px;
    }

    .Testimonials .carousel-indicators {
        position: static;
        width: 100%;
        margin-left: auto;
        padding-top: 20px;
    }

        .Testimonials .carousel-indicators li {
            text-indent: 0;
            width: 80px;
            height: 80px;
            opacity: 0.4;
            border: 3px solid #FFF;
            border-radius: 50%;
            overflow: hidden;
            margin: 5px;
            transition: all 0.5s ease;
        }

            .Testimonials .carousel-indicators li.active {
                opacity: 1;
                background: none;
            }

            .Testimonials .carousel-indicators li img {
                max-width: 100%;
            }

/*End Scetion Testimonials*/

/*----------Start Mina Sidor-----------------*/

/*Start Scetion profil-Us*/
.profil-us {
    background: url('../backgroundImage/shoes-wallpaper7.jpg') no-repeat center center fixed;
    background-size: cover;
    min-height: 300px;
}

    .profil-us .fields {
        background: rgba(9,9,9,0.6);
        min-height: 300px;
        color: #DDD;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .profil-us p {
        margin-bottom: 40px;
    }

    .profil-us > textarea {
        height: 108px;
    }

    .profil-us input[type="text"],
    .profil-us textarea {
        background: rgba(82,78,78,0.7);
        color: #FFF;
        border: none;
    }
/*End Scetion Contact-Us*/

/*----------------------footer ----------------------*/
/*Start Section Our Clients*/
.footer {
    background: #111;
    color: #AAA;
    padding-top: 10px;
    margin-top: 60px;
}


    .footer .three-colu li {
        width: 33.3333%;
        float: left;
        padding: 5px 0;
        font-size: 16px;
    }

.list-unstyled li a {
    color: #AAA;
}

.list-unstyled li :hover {
    color: white;
    text-decoration: none;
}

.footer .copyright {
    background: #333;
    color: #AAA;
    padding: 15px;
    margin-top: 30px;
    font-size: 18px;
}

/*End Section Our Clients*/




